{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Proposals
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <!-- <a style="background-color:#1B4254; color: #C4C4C4; font-weight:bold" class="btn" href="{% url 'add_student' %}" role="button">+ Add Student</a> <br/>&nbsp; -->
            
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Proposals Details</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button style="background-color:#1B4254; color: #C4C4C4; font-weight:bold" type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Project Title</th>
                                <th>Abstract</th>
                                <th>Group Name</th>
                                <th>Members</th>
                                <!-- <th>Last Login</th> -->
                                <th>Date Created</th>
                                <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- {{ members }} -->
                                {% for proposal in proposals %}
                                {% for member in members %}
                                <tr>
                                <td>{{ proposal.id }}</td>
                                <td>{{ proposal.proposal_title }}</td>
                                <td>{{ proposal.abstract }}</td>
                                <td>{{ proposal.studentgroup_id.group_name }}</td>
                                <td>{{ member }}, </td>
                                <td>{{ proposal.studentgroup_id.created_at  }} </td>
                                <td>
                                    <a href="" class="btn btn-info view_open_modal" data-toggle="modal" data-target="#viewModal"><i class="fas fa-eye"></i> View</a> 
                                    {% if proposal.status == "" %}
                                    <button type="button" id="accept_button" class="btn btn-success"><i class="far fa-check-circle"></i> Approve</button> 
                                    <button type="button" id="deny_button" class="btn btn-danger"><i class="fas fa-trash"></i> Deny</button>

                                    {% elif proposal.studentgroup_id.supervisor != null %}

                                    <button type="button" class="btn btn-success" disabled><i class="far fa-check-circle"></i> Approved</button> 
                                    <button type="button"  value="{{ proposal.studentgroup_id.id }}" class="btn btn-secondary" disabled><i class="fas fa-plus-circle"></i> Assigned </button>
                                    <button type="button" class="btn btn-danger" disabled><i class="fas fa-trash"></i> Deny</button>

                                    {% else %}
                                    <button type="button" class="btn btn-success" disabled><i class="far fa-check-circle"></i> Approved</button> 
                                    <button type="button" data-toggle="modal" data-target="#viewAssignModal" id="assign" value="{{ proposal.studentgroup_id.id }}" class="btn btn-secondary view_assign_modal"><i class="fas fa-plus-circle"></i> Assign </button>
                                    <button type="button" class="btn btn-danger" disabled><i class="fas fa-trash"></i> Deny</button>
                                    {% endif %}
                                </td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

      {% comment %} Modal to Reply Feedback {% endcomment %}
      
  <!-- Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">View Proposal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3 class="text-primary" id="title"></h3>
            <h4 class="text-secondary">Abstract</h4>
            <p id="abstract"></p>
            <input type="hidden" id="proposal_id" name="proposal_id" />
            <!-- <textarea class="form-control" rows="5" id="reply_message"></textarea> -->
        </div>
        <div class="modal-footer">
            {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}

            {% for proposal in proposals %}
            {% if proposal.status == "" %}
            <button type="button" class="btn btn-success" id="accept_button"><i class="far fa-check-circle"></i> Approve</button> 
            <button type="button" class="btn btn-danger" id="deny_button"><i class="fas fa-trash"></i> Deny</button>
            {% else %}
            <button type="button" class="btn btn-success" id="accept_button" disabled><i class="far fa-check-circle"></i> Approve</button> 
            <button type="button" class="btn btn-danger" id="deny_button" disabled><i class="fas fa-trash"></i> Deny</button>
            {% endif%}
            {% endfor %}
        </div>
        </div>
    </div>
    </div>

    <!-- Assign Modal -->
    <div class="modal fade" id="viewAssignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-secondary" id="exampleModalLabel">Assign Supervisor</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                        <th>ID</th>
                        <th>Firstname</th>
                        <th>LastName</th>
                        <th>Area of Specialization</th>
                        <th>Groups</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supervisor in supervisors %}
                        {% if groups < 4 %}
                        <tr>
                        <td>{{ supervisor.id }}</td>
                        <td>{{ supervisor.admin.first_name }}</td>
                        <td>{{ supervisor.admin.last_name }}</td>
                        <td>{{ supervisor.specialization }}</td>
                        <td>{{ group }}</td>
                        <td>
                            <!-- {% if proposal.status == "" %} -->
                            <!-- <button type="button" id="assign_button" class="btn btn-success fas fa-plus-circle"><i class="far fa-check-circle"></i> Choose</a>  -->
                            <!-- {% else %} -->
                            <button type="button" id="assign_button" value="{{ supervisor.id }}" class="btn btn-success fas fa-plus-circle"><i class="far fa-check-circle"></i> Choose</a>
                            <!-- {% endif %} -->
                        </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        
                    </tbody>
                    </table>
                </div>
                <input type="hidden" id="supervisor_id" name="supervisor_id" />
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
            </div>
            </div>
        </div>
        </div>

{% endblock main_content %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}\

{% block custom_js %}
<script>
    $(document).ready(function(){
        $(".view_open_modal").click(function(){
            // Getting Value from Table
            var id = $(this).parents("tr").children("td:eq(0)").text(); //Getting Selected Row ID (Frist Column)
            var title = $(this).parents("tr").children("td:eq(1)").text(); //Getting Selected Row ID (Frist Column)
            var abstract = $(this).parents("tr").children("td:eq(2)").text(); //Getting Selected Name (3rd Column)
            
            // Adding the Value from Table to Modal form
            $("#proposal_id").val(id);
            $("#title").text(title);
            $("#abstract").text(abstract);
        });

        $(".view_assign_modal").click(function(){

            var id1 = $("#assign").val()

            // alert(id1)

            // Getting Value from Table
            // var id = $(this).parents("tr").children("td:eq(0)").text(); //Getting Selected Row ID (Frist Column)

            // alert(id)
            
            // Adding the Value from Table to Modal form
            var id2 = $("#assign_button").val();
            // alert('gerageza',id2)
            // alert(id1)
            // alert(id2)
        });
        $(document).on("click", "#accept_button", function(){
            //Disabling the Button while data is being saved in Server
            $(this).attr("disabled", "disabled")
            $(this).text("Processing Action...")

            //console.log("SAVE")
            

            var id=$("#proposal_id").val();
            // var reply=$("#reply_message").val();
            console.log(id);

            // Saving Attendance Data into Database

            $.ajax({
                url:'{% url 'proposal_accept' %}',
                type:'POST',
                data:{id:id},
            })

            
            .done(function(response){
                
                if(response=="True")
                {
                    alert("Proposal Accepted!")
                }
                else
                {
                    alert("Failed!")
                }
                location.reload()
                
                //console.log(response)
            })

            .fail(function(){
                alert("Error in Accepting Proposal Reply.")
            })

        })

        $(document).on("click", "#deny_button", function(){
            //Disabling the Button while data is being saved in Server
            $(this).attr("disabled", "disabled")
            $(this).text("Processing Action...")

            //console.log("SAVE")
            

            var id=$("#proposal_id").val();
            // var reply=$("#reply_message").val();
            console.log(id);

            // Saving Attendance Data into Database

            $.ajax({
                url:'{% url 'proposal_deny' %}',
                type:'POST',
                data:{id:id},
            })

            
            .done(function(response){
                
                if(response=="True")
                {
                    alert("Proposal Denied!")
                }
                else
                {
                    alert("Failed !")
                }
                location.reload()
                
                //console.log(response)
            })

            .fail(function(){
                alert("Error in Sending Deny Reply.")
            })

        })

        $(document).on("click", "#assign_button", function(){
            //Disabling the Button while data is being saved in Server
            $(this).attr("disabled", "disabled")
            $(this).text("Processing Action...")

            //console.log("SAVE")
            

            // var id=$("#supervisor_id").val();
            // var proposal_id=$("#proposal_id").val();
            var id1 = $("#assign").val()
            var id2 = $("#assign_button").val();

            // alert(id1)
            // alert(id2)

            // Saving Attendance Data into Database

            $.ajax({
                url:'{% url 'supervisor_assign' %}',
                type:'POST',
                data:{id1:id1, id2:id2},
            })

            
            .done(function(response){
                
                if(response=="True")
                {
                    alert("Supervisor Assigned!")
                }
                else
                {
                    alert("Failed !")
                }
                location.reload()
                
                //console.log(response)
            })

            .fail(function(){
                alert("Error in Sending Deny Reply.")
            })

        })

    });
</script>
{% endblock custom_js %}