{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Supervisor
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a style="background-color: #1B4254; color: #C4C4C4"class="btn" href="{% url 'add_supervisor' %}" role="button">+ Add supervisor</a>&nbsp;

            <a class="btn btn-warning" href="{% url 'export_csv_sup' %}" role="button"style="margin-left:500px;color:white;">+ Export CSV</a>&nbsp;
            <a class="btn btn-success" href="{% url 'export_pdf_sup' %}" role="button"style="margin-left:300px;color:white;">+ Export Pdf</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Supervisor Details</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button style="background-color:#1B4254; color: #C4C4C4; font-weight:bold" type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Degree</th>
                                <th>Last login</th>
                                <th>Created at</th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                {% for supervisor in supervisors %}
                                <tr>
                                <td>{{ supervisor.admin.id }}</td>
                                <td>{{ supervisor.admin.first_name }}</td>
                                <td>{{ supervisor.admin.last_name }}</td>
                                <td>{{ supervisor.admin.username }}</td>
                                <td>{{ supervisor.admin.email }}</td>
                                <td>{{ supervisor.degree }}</td>
                                <td>{{ supervisor.admin.last_login }}</td>
                                <td>{{ supervisor.admin.date_joined }}</td>
                                <td>
                                    <a href="{% url 'edit_supervisor' supervisor.admin.id %}" class="btn btn-success">Edit</a> 
                                    <!-- <a href="{% url 'edit_supervisor' supervisor.admin.id %}" class="btn btn-info">Assign</a>  -->
                                    <a href="{% url 'delete_supervisor' supervisor.admin.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}