{% load static %}

<aside style="background-Color: #1B4254"class="main-sidebar sidebar-dark-white elevation-1">
      <!-- Brand Logo -->
      <a href="{% url 'supervisor_home' %}" class="brand-link">
        <span class="brand-text font-weight-bold">CST-SPMS</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'supervisor_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <li class="nav-item">
              {% url 'supervisor_home' as supervisor_home %}
              <a href="{{ supervisor_home }}" class="nav-link {% if request.path == supervisor_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'supervisor_manage_proposal' as supervisor_manage_proposal %}
              <a href="{{ supervisor_manage_proposal }}" class="nav-link {% if request.path == supervisor_manage_proposal %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-plus"></i>
                <p>
                  Submitted Proposals
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'supervisor_assigned_group' as supervisor_assigned_group %}
              <a href="{{ supervisor_assigned_group }}" class="nav-link {% if request.path == supervisor_assigned_group %} active {% endif %}">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  Assigned Groups
                </p>
              </a>
            </li>
            <div class="contenedor-menu">
              <!-- <a href="" class="btnMenu">Menu <i class="fa fa-bars"></i></a> -->
          
              <ul class="menu">
                <!-- <li><a href="#">Element 1</a></li> -->
                <li><a href="{{ supervisor_assigned_group }}" class="nav-link {% if request.path == supervisor_assigned_group %} active {% endif %}">Assigned Groups<i class="fa fa-chevron-down"></i></a>
                  <ul>
                    {% for group in groups %}
                    <li><a href="{% url 'supervisor_assigned_ngroup' group.id %}">{{ group.group_name }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
            <li class="nav-item">
              {% url 'group_feedback_message' as group_feedback_message %}
              <a href="{{ group_feedback_message }}" class="nav-link {% if request.path == group_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-envelope-open-text"></i>
                <p>
                  Contact Group
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <!-- <li class="nav-item">
              {% url 'supervisor_contact_hod' as supervisor_contact_hod %}
              <a href="{{ supervisor_contact_hod }}" class="nav-link {% if request.path == supervisor_contact_hod %} active {% endif %}">
                <i class="nav-icon fas fa-envelope-open-text"></i>
                <p>
                  Contact HOD
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li> -->

            <li class="nav-item">
              {% url 'supervisor_feedback' as supervisor_feedback %}
              <a href="{{ supervisor_feedback }}" class="nav-link {% if request.path == supervisor_feedback %} active {% endif %}">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Contact HOD 
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>