{% extends 'supervisor_template/base_template.html' %}

{% block page_title %}
    Manage Proposals
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            
            <a class="btn btn-warning" href="{% url 'export_csv' %}" role="button"style="margin-left:500px;color:white;">+ Export CSV</a>&nbsp;
            <a class="btn btn-success" href="{% url 'export_pdf' %}" role="button"style="margin-left:300px;color:white;">+ Export Pdf</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Poposals Details</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button style="background-color:#1B4254; color: #C4C4C4; font-weight:bold" type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>group Name</th>
                                <th>Proposal Title</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- {{proposals}} -->
                                {% for prop in proposals %}
                                <tr>
                                <td>{{ prop.id }}</td>
                                <td>{{ prop.studentgroup_id.group_name }}</td>
                                <td>{{ prop.proposal_title }}</td>
                                <td>{{ prop.created_at }}</td>
                                <td>{{ prop.updated_at }}</td>
                                <td><button type="button" class="btn btn-info fas fa-eye" data-toggle="modal" data-target="#viewModal" >View</button></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

      {% comment %} Modal to Reply Feedback {% endcomment %}
      
  <!-- Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">View Proposal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% for prop in proposals %}
            <h3 class="text-success" id="title">Title: </h3><h4 class="text-black">{{ prop.proposal_title }}</h4>
            <h4 class="text-success">Abstract: </h4><p class="text-black">{{ prop.abstract }}</p>
            <p id="abstract"></p>
            {% endfor %}
        </div>
        <div class="modal-footer">
            {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
        </div>
        </div>
    </div>
    </div>

  {% endblock main_content %}