{% extends 'supervisor_template/base_template.html' %}

{% block page_title %}
    Managed Groups
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <!-- <a style="background-color:#1B4254; color: #C4C4C4; font-weight:bold"class="btn" href="{% url 'add_group' %}" role="button">+ Add group</a>&nbsp; -->
            
            <a class="btn btn-warning" href="{% url 'export_csv' %}" role="button"style="margin-left:500px;color:white;">+ Export CSV</a>&nbsp;
            <a class="btn btn-success" href="{% url 'export_pdf' %}" role="button"style="margin-left:300px;color:white;">+ Export Pdf</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card text-white bg-secondary mb-3">
                        <div class="card-header">
                            <h3 class="card-title">Group Proposal Title</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <h4 class="card-title">Abstract</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit non, quo culpa voluptatibus quibusdam facilis reiciendis magnam porro, aut praesentium nobis voluptatum voluptate distinctio nihil possimus aliquam minima voluptas in?</p>
                            <h4 class="card-title">Description</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias praesentium facilis labore cupiditate ipsam eius quisquam quos. Soluta dicta libero hic quod in aspernatur sed vitae maiores, accusamus, perspiciatis eligendi.</p>
                            <h4 class="card-title">Group Name</h4>
                            <p class="card-text">Lorem ipsum.</p>
                            <h4 class="card-title">Group Members</h4>
                            <p class="card-text">Lorem ipsum.</p>
                            <button class="btn btn-info p-3 m-3"><i class="fa fa-eye"></i><a href="{% url 'group_feedback_message' %}" style="color: #fff;">View</a> </button><button class="btn btn-info p-3 m-3"><i class="fas fa-paper-plane"></i><a href="{% url 'group_feedback_message' %}" style="color: #fff;">Contact</a></button>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}